@layer components {
    .m3-minimum-touch-target {}

    .m3-minimum-touch-target::after {
        content: "";
        position: absolute;
        inset: 50%;
        width: 48px;
        height: 48px;
        translate: -50% -50%;
    }
}