@utility h-var-* {
    --height: --value([length]);
    height: var(--height);
}

@utility rounded-full-var {
    border-radius: calc(var(--height) / 2);
}

@theme inline {
    --radius-xs: var(--md-sys-shape-corner-value-extra-small);
    --radius-sm: var(--md-sys-shape-corner-value-small);
    --radius-md: var(--md-sys-shape-corner-value-medium);
    --radius-lg: var(--md-sys-shape-corner-value-large);
    --radius-lgi: var(--md-sys-shape-corner-value-large-increased);
    --radius-xl: var(--md-sys-shape-corner-value-extra-large);
    --radius-xli: var(--md-sys-shape-corner-value-extra-large-increased);
    --radius-2xl: var(--md-sys-shape-corner-value-extra-extra-large);
    
    /* MD3에 없는 3XL, 4XL은 미사용 */
    --radius-3xl: 0px;
    --radius-4xl: 0px;
}