@utility h-var-* {
    --height: calc(var(--spacing) * --value(number));
    height: var(--height);
}

/* TODO: rounded-var-* 유틸리티 클래스 작성 */
@utility rounded-var-1/2 {
    border-radius: calc(var(--height) / 4);
}

@utility rounded-var-full {
    border-radius: calc(var(--height) / 2);
}

@theme inline {
    --radius-*: initial;
    --radius-xs: var(--md-sys-shape-corner-value-extra-small);
    --radius-sm: var(--md-sys-shape-corner-value-small);
    --radius-md: var(--md-sys-shape-corner-value-medium);
    --radius-lg: var(--md-sys-shape-corner-value-large);
    --radius-lgi: var(--md-sys-shape-corner-value-large-increased);
    --radius-xl: var(--md-sys-shape-corner-value-extra-large);
    --radius-xli: var(--md-sys-shape-corner-value-extra-large-increased);
    --radius-2xl: var(--md-sys-shape-corner-value-extra-extra-large);
}