/*
  Atomic한 속성을 추구하는 Tailwind CSS의 특성상, Type Styles와 같은 복합적인 속성 집합은 @utility로써 구현해야 한다.
*/
@utility typescale-display-large {
  font-family: var(--md-sys-typescale-display-large-font);
  font-weight: var(--md-sys-typescale-display-large-weight);
  font-size: var(--md-sys-typescale-display-large-size);
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-line-height);
}

@utility typescale-display-medium {
  font-family: var(--md-sys-typescale-display-medium-font);
  font-weight: var(--md-sys-typescale-display-medium-weight);
  font-size: var(--md-sys-typescale-display-medium-size);
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-line-height);
}

@utility typescale-display-small {
  font-family: var(--md-sys-typescale-display-small-font);
  font-weight: var(--md-sys-typescale-display-small-weight);
  font-size: var(--md-sys-typescale-display-small-size);
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-line-height);
}

@utility typescale-headline-large {
  font-family: var(--md-sys-typescale-headline-large-font);
  font-weight: var(--md-sys-typescale-headline-large-weight);
  font-size: var(--md-sys-typescale-headline-large-size);
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-line-height);
}

@utility typescale-headline-medium {
  font-family: var(--md-sys-typescale-headline-medium-font);
  font-weight: var(--md-sys-typescale-headline-medium-weight);
  font-size: var(--md-sys-typescale-headline-medium-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
}

@utility typescale-headline-small {
  font-family: var(--md-sys-typescale-headline-small-font);
  font-weight: var(--md-sys-typescale-headline-small-weight);
  font-size: var(--md-sys-typescale-headline-small-size);
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-line-height);
}

@utility typescale-title-large {
  font-family: var(--md-sys-typescale-title-large-font);
  font-weight: var(--md-sys-typescale-title-large-weight);
  font-size: var(--md-sys-typescale-title-large-size);
  letter-spacing: var(--md-sys-typescale-title-large-tracking);
  line-height: var(--md-sys-typescale-title-large-line-height);
}

@utility typescale-title-medium {
  font-family: var(--md-sys-typescale-title-medium-font);
  font-weight: var(--md-sys-typescale-title-medium-weight);
  font-size: var(--md-sys-typescale-title-medium-size);
  letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  line-height: var(--md-sys-typescale-title-medium-line-height);
}

@utility typescale-title-small {
  font-family: var(--md-sys-typescale-title-small-font);
  font-weight: var(--md-sys-typescale-title-small-weight);
  font-size: var(--md-sys-typescale-title-small-size);
  letter-spacing: var(--md-sys-typescale-title-small-tracking);
  line-height: var(--md-sys-typescale-title-small-line-height);
}

@utility typescale-body-large {
  font-family: var(--md-sys-typescale-body-large-font);
  font-weight: var(--md-sys-typescale-body-large-weight);
  font-size: var(--md-sys-typescale-body-large-size);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-line-height);
}

@utility typescale-body-medium {
  font-family: var(--md-sys-typescale-body-medium-font);
  font-weight: var(--md-sys-typescale-body-medium-weight);
  font-size: var(--md-sys-typescale-body-medium-size);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-line-height);
}

@utility typescale-body-small {
  font-family: var(--md-sys-typescale-body-small-font);
  font-weight: var(--md-sys-typescale-body-small-weight);
  font-size: var(--md-sys-typescale-body-small-size);
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-line-height);
}

@utility typescale-label-large {
  font-family: var(--md-sys-typescale-label-large-font);
  font-weight: var(--md-sys-typescale-label-large-weight);
  font-size: var(--md-sys-typescale-label-large-size);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-line-height);
}

@utility typescale-label-medium {
  font-family: var(--md-sys-typescale-label-medium-font);
  font-weight: var(--md-sys-typescale-label-medium-weight);
  font-size: var(--md-sys-typescale-label-medium-size);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-line-height);
}

@utility typescale-label-small {
  font-family: var(--md-sys-typescale-label-small-font);
  font-weight: var(--md-sys-typescale-label-small-weight);
  font-size: var(--md-sys-typescale-label-small-size);
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-line-height);
}

@utility typescale-emphasized-display-large {
  font-family: var(--md-sys-typescale-emphasized-display-large-font);
  font-weight: var(--md-sys-typescale-emphasized-display-large-weight);
  font-size: var(--md-sys-typescale-emphasized-display-large-size);
  letter-spacing: var(--md-sys-typescale-emphasized-display-large-tracking);
  line-height: var(--md-sys-typescale-emphasized-display-large-line-height);
}

@utility typescale-emphasized-display-medium {
  font-family: var(--md-sys-typescale-emphasized-display-medium-font);
  font-weight: var(--md-sys-typescale-emphasized-display-medium-weight);
  font-size: var(--md-sys-typescale-emphasized-display-medium-size);
  letter-spacing: var(--md-sys-typescale-emphasized-display-medium-tracking);
  line-height: var(--md-sys-typescale-emphasized-display-medium-line-height);
}

@utility typescale-emphasized-display-small {
  font-family: var(--md-sys-typescale-emphasized-display-small-font);
  font-weight: var(--md-sys-typescale-emphasized-display-small-weight);
  font-size: var(--md-sys-typescale-emphasized-display-small-size);
  letter-spacing: var(--md-sys-typescale-emphasized-display-small-tracking);
  line-height: var(--md-sys-typescale-emphasized-display-small-line-height);
}

@utility typescale-emphasized-headline-large {
  font-family: var(--md-sys-typescale-emphasized-headline-large-font);
  font-weight: var(--md-sys-typescale-emphasized-headline-large-weight);
  font-size: var(--md-sys-typescale-emphasized-headline-large-size);
  letter-spacing: var(--md-sys-typescale-emphasized-headline-large-tracking);
  line-height: var(--md-sys-typescale-emphasized-headline-large-line-height);
}

@utility typescale-emphasized-headline-medium {
  font-family: var(--md-sys-typescale-emphasized-headline-medium-font);
  font-weight: var(--md-sys-typescale-emphasized-headline-medium-weight);
  font-size: var(--md-sys-typescale-emphasized-headline-medium-size);
  letter-spacing: var(--md-sys-typescale-emphasized-headline-medium-tracking);
  line-height: var(--md-sys-typescale-emphasized-headline-medium-line-height);
}

@utility typescale-emphasized-headline-small {
  font-family: var(--md-sys-typescale-emphasized-headline-small-font);
  font-weight: var(--md-sys-typescale-emphasized-headline-small-weight);
  font-size: var(--md-sys-typescale-emphasized-headline-small-size);
  letter-spacing: var(--md-sys-typescale-emphasized-headline-small-tracking);
  line-height: var(--md-sys-typescale-emphasized-headline-small-line-height);
}

@utility typescale-emphasized-title-large {
  font-family: var(--md-sys-typescale-emphasized-title-large-font);
  font-weight: var(--md-sys-typescale-emphasized-title-large-weight);
  font-size: var(--md-sys-typescale-emphasized-title-large-size);
  letter-spacing: var(--md-sys-typescale-emphasized-title-large-tracking);
  line-height: var(--md-sys-typescale-emphasized-title-large-line-height);
}

@utility typescale-emphasized-title-medium {
  font-family: var(--md-sys-typescale-emphasized-title-medium-font);
  font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
  font-size: var(--md-sys-typescale-emphasized-title-medium-size);
  letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
  line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
}

@utility typescale-emphasized-title-small {
  font-family: var(--md-sys-typescale-emphasized-title-small-font);
  font-weight: var(--md-sys-typescale-emphasized-title-small-weight);
  font-size: var(--md-sys-typescale-emphasized-title-small-size);
  letter-spacing: var(--md-sys-typescale-emphasized-title-small-tracking);
  line-height: var(--md-sys-typescale-emphasized-title-small-line-height);
}

@utility typescale-emphasized-body-large {
  font-family: var(--md-sys-typescale-emphasized-body-large-font);
  font-weight: var(--md-sys-typescale-emphasized-body-large-weight);
  font-size: var(--md-sys-typescale-emphasized-body-large-size);
  letter-spacing: var(--md-sys-typescale-emphasized-body-large-tracking);
  line-height: var(--md-sys-typescale-emphasized-body-large-line-height);
}

@utility typescale-emphasized-body-medium {
  font-family: var(--md-sys-typescale-emphasized-body-medium-font);
  font-weight: var(--md-sys-typescale-emphasized-body-medium-weight);
  font-size: var(--md-sys-typescale-emphasized-body-medium-size);
  letter-spacing: var(--md-sys-typescale-emphasized-body-medium-tracking);
  line-height: var(--md-sys-typescale-emphasized-body-medium-line-height);
}

@utility typescale-emphasized-body-small {
  font-family: var(--md-sys-typescale-emphasized-body-small-font);
  font-weight: var(--md-sys-typescale-emphasized-body-small-weight);
  font-size: var(--md-sys-typescale-emphasized-body-small-size);
  letter-spacing: var(--md-sys-typescale-emphasized-body-small-tracking);
  line-height: var(--md-sys-typescale-emphasized-body-small-line-height);
}

@utility typescale-emphasized-label-large {
  font-family: var(--md-sys-typescale-emphasized-label-large-font);
  font-weight: var(--md-sys-typescale-emphasized-label-large-weight);
  font-size: var(--md-sys-typescale-emphasized-label-large-size);
  letter-spacing: var(--md-sys-typescale-emphasized-label-large-tracking);
  line-height: var(--md-sys-typescale-emphasized-label-large-line-height);
}

@utility typescale-emphasized-label-medium {
  font-family: var(--md-sys-typescale-emphasized-label-medium-font);
  font-weight: var(--md-sys-typescale-emphasized-label-medium-weight);
  font-size: var(--md-sys-typescale-emphasized-label-medium-size);
  letter-spacing: var(--md-sys-typescale-emphasized-label-medium-tracking);
  line-height: var(--md-sys-typescale-emphasized-label-medium-line-height);
}

@utility typescale-emphasized-label-small {
  font-family: var(--md-sys-typescale-emphasized-label-small-font);
  font-weight: var(--md-sys-typescale-emphasized-label-small-weight);
  font-size: var(--md-sys-typescale-emphasized-label-small-size);
  letter-spacing: var(--md-sys-typescale-emphasized-label-small-tracking);
  line-height: var(--md-sys-typescale-emphasized-label-small-line-height);
}